# dependencies
node_modules/
.pnpm-store/

# build
dist/
.next/
out/

# env
.env
.env.local
.env.*.local

# turbo
.turbo/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# prisma
packages/db/prisma/migrations/

# misc
*.log
coverage/
